<div class="container">
    <div class="navbar">
      <div class="nav">
        <div class="logo_text">
          <img
            src="/media/homepage-images/homepage_logo.svg"
            alt="header-logo"
            class="header_logo"
          />
        </div>

        <ul class="header_menu">
          <li><a href="">Home</a></li>
          <li>
            <a href="">Shop <img src="/media/homepage-images/down.svg" alt="down" /></a>
            <ul class="dropdown">
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
            </ul>
          </li>
          <li><a href="">About Us</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
      <div class="nav_login">
        <ul class="header_icon">
          <li>
            <button class="icon-button">
              <img src="/media/homepage-images/search_icon.svg" alt="" />
            </button>
          </li>
          <li>
            <button class="icon-button">
              <img src="/media/homepage-images/fav_icon.svg" alt="" />
            </button>
          </li>
          <li>
            <button class="icon-button">
              <img src="/media/homepage-images/shopbuy_icon.svg" alt="" />
            </button>
          </li>
        </ul>
        <button class="login-button"><span>Login</span></button>
      </div>
    </div>